<div *ngIf="atividade != undefined" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex='80' fxLayout="column" fxLayoutAlign="space-between">
    <mat-card-header fxFlex='20'>
        <mat-card-title>{{ atividade.titulo }} </mat-card-title>
        <mat-card-subtitle>{{ atividade.conteudo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <angular-editor fxFlex [(ngModel)]="conteudo" [config]="config"></angular-editor>
    </mat-card-content>
    
    <mat-card-actions fxFlex='9' align="end">
      <button mat-raised-button (click)='save()'>Salvar</button>
    </mat-card-actions>
  </mat-card>
</div>