<div>
  <h4>Atividadades</h4>

    <button 
          mat-raised-button
          [disabled]='!editavel'
          [attr.aria-disabled]="!editavel"
          (click)='novaAtividade()'>Nova</button>

      <div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="32px">
        <app-atividade
          *ngFor='let atividade of atividades;let i = index'
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%"
          (deletar)='removeAtividade(i)'
          (atividade)='salvarAtividade($event,i)'
          ></app-atividade>  
      </div>
  
  </div>
