<div layout="fill" class="mat-app-background" [class.dark-theme]="isDarkThemeActive">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button (click)="snav.toggle()">
              <fa-icon [icon]="faBars" size='lg'></fa-icon>
          </button>
          <h1>New place</h1>

          <!-- <span class="fill-space"></span> -->
         
          <mat-slide-toggle labelPosition="before" (change)="onThemeChange($event)">
              Tema escuro
          </mat-slide-toggle>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container [hasBackdrop]="false" class='container'>
      <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
          <mat-toolbar>
              <mat-toolbar-row routerLinkActive="active" routerLink="/cursos">
                  <span>Curso</span>
              </mat-toolbar-row>
              <!-- <mat-toolbar-row routerLinkActive="active" routerLink="/chat">
                  <span>Chat</span>
              </mat-toolbar-row> -->
              <mat-toolbar-row routerLinkActive="active" routerLink="/producao">
                  <span>Produção</span>
              </mat-toolbar-row>
          </mat-toolbar>
          <app-chat style="z-index:9999999"></app-chat>
      </mat-drawer>
      <mat-drawer-content>
          <router-outlet></router-outlet>
      </mat-drawer-content>
      
  </mat-drawer-container>
  
</div>