<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex='80' class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Curso</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field>
        <input matInput [(ngModel)]="titulo" placeholder="Título">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput [(ngModel)]="conteudo"
          placeholder="Conteúdo"></textarea>
      </mat-form-field>
      
      <br>
      <app-atividade-list
        [(atividades)]='atividades'>
      </app-atividade-list>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)='save()'>Salvar</button>
    </mat-card-actions>
  </mat-card>

</div>