<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="center">

    <mat-card 
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      class="mat-elevation-z8"
      *ngFor='let curso of cursos'>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="space-between">
        <mat-card-title>{{curso.titulo}}</mat-card-title>
        <a [routerLink]="['/producao/curso',curso.id]"  mat-raised-button >Entrar</a>
      </mat-card-content>
    </mat-card>

  </div>